Repository Do-it-Together-DoTo/DoTo_Back, pull requests merged in 2024-06, with the labels that each got.

#39 feat : Friend&Member Search Mock API 구현 및 테스트 코드 작성 / 문서화
  src/main/java/site/doto/domain/friend/controller/FriendController.java
  src/main/java/site/doto/domain/friend/dto/FriendBlockReq.java
  src/main/java/site/doto/domain/friend/dto/FriendCanceledReq.java
  src/main/java/site/doto/domain/friend/dto/FriendDeclinedReq.java
  src/main/java/site/doto/domain/friend/dto/FriendDto.java
  src/main/java/site/doto/domain/friend/dto/FriendListReq.java
  src/main/java/site/doto/domain/friend/dto/FriendListRes.java
  src/main/java/site/doto/domain/friend/dto/FriendRequestReq.java
  src/main/java/site/doto/domain/friend/dto/FriendResponseReq.java
  src/main/java/site/doto/domain/friend/dto/FriendUnblockReq.java
  src/main/java/site/doto/domain/friend/entity/Friend.java
  src/main/java/site/doto/domain/friend/enums/FriendRelation.java
  src/main/java/site/doto/domain/member/controller/MemberController.java
  src/main/java/site/doto/domain/member/dto/MembersSearchDto.java
  src/main/java/site/doto/domain/member/dto/MembersSearchReq.java
  src/main/java/site/doto/domain/member/dto/MembersSearchRes.java
  src/main/java/site/doto/domain/member/enums/MemberRelation.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/friend/controller/FriendControllerTest.java
  src/test/java/site/doto/member/MemberControllerTest.java
Labels: ✨ feat, ✅ test

#44 feat : Mypage & Store Mock API 구현 및 테스트 코드 작성 / 문서화
  src/main/java/site/doto/domain/character/controller/CharacterController.java
  src/main/java/site/doto/domain/character/dto/CharacterBuyReq.java
  src/main/java/site/doto/domain/character/dto/CharacterDetailsRes.java
  src/main/java/site/doto/domain/character/dto/CharacterDto.java
  src/main/java/site/doto/domain/character/dto/CharacterListRes.java
  src/main/java/site/doto/domain/character_type/entity/CharacterType.java
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/item/dto/ItemBuyReq.java
  src/main/java/site/doto/domain/item/dto/ItemDto.java
  src/main/java/site/doto/domain/item/dto/ItemListRes.java
  src/main/java/site/doto/domain/item/dto/ItemSellReq.java
  src/main/java/site/doto/domain/item/dto/ItemUseReq.java
  src/main/java/site/doto/domain/item/dto/StoreItemDetailsRes.java
  src/main/java/site/doto/domain/item_type/dto/ItemTypeDto.java
  src/main/java/site/doto/domain/item_type/dto/StoreItemListRes.java
  src/main/java/site/doto/domain/item_type/entity/ItemType.java
  src/main/java/site/doto/domain/record/controller/RecordController.java
  src/main/java/site/doto/domain/record/dto/RecordDetailsRes.java
  src/main/java/site/doto/domain/record/entity/Record.java
  src/main/java/site/doto/domain/todo/dto/TodoRecordDto.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/character/controller/CharacterControllerTest.java
  src/test/java/site/doto/domain/item/controller/ItemControllerTest.java
  src/test/java/site/doto/domain/record/controller/RecordControllerTest.java
Labels: ✨ feat, ✅ test

#48 chore : 패키지 정리
  src/main/java/site/doto/domain/character/entity/Character.java
  src/main/java/site/doto/domain/character/entity/CharacterType.java
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/item/dto/ItemTypeDto.java
  src/main/java/site/doto/domain/item/dto/StoreItemListRes.java
  src/main/java/site/doto/domain/item/entity/Item.java
  src/main/java/site/doto/domain/item/entity/ItemType.java
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/java/site/doto/domain/category/controller/CategoryControllerTest.java
  src/test/java/site/doto/domain/member/controller/MemberControllerTest.java
Labels: 📝 chore

#51 fix : Record Entity 에러 수정
  src/main/java/site/doto/domain/record/entity/Record.java
Labels: 🐛 fix

#53 feat : 무한 스크롤 적용
  src/main/java/site/doto/domain/friend/controller/FriendController.java
  src/main/java/site/doto/domain/friend/dto/FriendBlockListReq.java
  src/main/java/site/doto/domain/friend/dto/FriendDto.java
  src/main/java/site/doto/domain/friend/dto/FriendListRes.java
  src/main/java/site/doto/domain/member/controller/MemberController.java
  src/main/java/site/doto/domain/member/dto/MembersSearchRes.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/friend/controller/FriendControllerTest.java
  src/test/java/site/doto/domain/member/controller/MemberControllerTest.java
Labels: ✨ feat, ✅ test

#56 feat : GET 요청에서 RequestBody를 ModelAttribute로 변경
  src/main/java/site/doto/domain/friend/controller/FriendController.java
  src/main/java/site/doto/domain/member/controller/MemberController.java
  src/main/java/site/doto/domain/todo/controller/TodoController.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/friend/controller/FriendControllerTest.java
  src/test/java/site/doto/domain/member/controller/MemberControllerTest.java
  src/test/java/site/doto/domain/todo/controller/TodoControllerTest.java
Labels: ✨ feat, ✅ test

#55 feat : Chatting Mock Api 구현 및 테스트 코드 작성 / 문서화
  src/main/java/site/doto/domain/chat/controller/ChatController.java
  src/main/java/site/doto/domain/chat/dto/ChatAddReq.java
  src/main/java/site/doto/domain/chat/dto/ChatDto.java
  src/main/java/site/doto/domain/chat/dto/ChatListReq.java
  src/main/java/site/doto/domain/chat/dto/ChatListRes.java
  src/main/java/site/doto/domain/chat/entity/Chat.java
  src/main/java/site/doto/domain/chatroom/controller/ChatRoomController.java
  src/main/java/site/doto/domain/chatroom/dto/ChatRoomDto.java
  src/main/java/site/doto/domain/chatroom/dto/ChatRoomListRes.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/chat/controller/ChatControllerTest.java
  src/test/java/site/doto/domain/chatroom/controller/ChatRoomControllerTest.java
Labels: ✨ feat, ✅ test

#60 feat : 개발 서버용 설정 파일 추가
  src/main/resources/application-dev.yml
Labels: ✨ feat

#62 feat : 프로필 설정 추가
  src/main/resources/application.yml
Labels: ✨ feat

#64 feat : 엔티티 조회 메소드 구현
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/category/repository/CategoryRepository.java
  src/main/java/site/doto/domain/character/repository/CharacterRepository.java
  src/main/java/site/doto/domain/character/repository/CharacterTypeRepository.java
  src/main/java/site/doto/domain/chatroom/repository/ChatRoomRepository.java
  src/main/java/site/doto/domain/item/repository/ItemTypeRepository.java
  src/main/java/site/doto/domain/member/repository/MemberRepository.java
  src/main/java/site/doto/domain/todo/repository/TodoRepository.java
Labels: ✨ feat

#71 feat : ci/cd 구축
  deploy.sh
  src/main/resources/application.yml
Labels: ✨ feat

#70 feat : 아이템 구매 API 구현 및 테스트
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/item/dto/ItemBuyReq.java
  src/main/java/site/doto/domain/item/entity/Item.java
  src/main/java/site/doto/domain/item/entity/ItemPK.java
  src/main/java/site/doto/domain/item/repository/ItemRepository.java
  src/main/java/site/doto/domain/item/service/ItemService.java
  src/main/java/site/doto/domain/member/entity/Member.java
  src/main/java/site/doto/domain/member/repository/MemberRepository.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/item/controller/ItemControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#72 feat : 아이템 목록 전체 조회 API 구현
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/item/service/ItemService.java
  src/main/resources/sql/data.sql
  src/test/resources/sql/data.sql
Labels: ✨ feat

#74 test : 존재하지 않는 아이템 타입 아이디로 테스트 코드 변경
  src/test/java/site/doto/domain/item/controller/ItemControllerTest.java
Labels: ✅ test

#75 feat : 아이템 개별 조회 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/item/dto/StoreItemDetailsRes.java
  src/main/java/site/doto/domain/item/service/ItemService.java
  src/test/java/site/doto/domain/item/controller/ItemControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#79 feat : 투두 전체 조회 Mock API 및 테스트 수정
  src/main/java/site/doto/domain/todo/controller/TodoController.java
  src/main/java/site/doto/domain/todo/dto/TodoCategoryDto.java
  src/main/java/site/doto/domain/todo/dto/TodoListRes.java
  src/test/java/site/doto/domain/todo/controller/TodoControllerTest.java
Labels: ✨ feat, ✅ test

#81 feat : redis 설정 추가 및 Record에 redis 적용
  build.gradle
  deploy.sh
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/record/entity/Record.java
  src/main/java/site/doto/domain/record/entity/RecordPK.java
  src/main/java/site/doto/domain/record/repository/RecordRepository.java
  src/main/java/site/doto/domain/record/repository/RecordRepositoryCustom.java
  src/main/java/site/doto/domain/record/repository/RecordRepositoryCustomImpl.java
  src/main/java/site/doto/domain/todo/entity/Todo.java
  src/main/java/site/doto/global/config/AppConfig.java
  src/main/java/site/doto/global/config/EmbeddedRedisConfig.java
  src/main/java/site/doto/global/redis/RedisEvent.java
  src/main/java/site/doto/global/redis/RedisUtils.java
  src/main/resources/application-local.yml
  src/main/resources/redis/redis-server-7.2.3-mac-arm64
  src/test/resources/application.yml
Labels: ✨ feat

#84 feat : 알 정보 조회 API 구현 및 테스트
  src/main/java/site/doto/domain/character/controller/CharacterController.java
  src/main/java/site/doto/domain/character/enums/Egg.java
  src/main/java/site/doto/domain/character/service/CharacterService.java
  src/test/java/site/doto/domain/character/controller/CharacterControllerTest.java
Labels: ✨ feat, ✅ test

#85 feat : Redis schduler 설정
  src/main/java/site/doto/Application.java
  src/main/java/site/doto/domain/record/dto/RecordDetailsRes.java
  src/main/java/site/doto/domain/record/dto/RecordUpdateDto.java
  src/main/java/site/doto/domain/record/entity/Record.java
  src/main/java/site/doto/domain/record/repository/RecordRepository.java
  src/main/java/site/doto/domain/record/repository/RecordRepositoryCustom.java
  src/main/java/site/doto/domain/record/repository/RecordRepositoryCustomImpl.java
  src/main/java/site/doto/domain/record/service/RecordService.java
  src/main/java/site/doto/global/config/EmbeddedRedisConfig.java
  src/main/java/site/doto/global/redis/RedisEvent.java
  src/main/java/site/doto/global/redis/RedisUtils.java
Labels: ✨ feat

#89 feat : 카테고리 전체 조회 API 구현
  deploy.sh
  src/main/java/site/doto/domain/category/controller/CategoryController.java
  src/main/java/site/doto/domain/category/dto/CategoryAddReq.java
  src/main/java/site/doto/domain/category/dto/CategoryListRes.java
  src/main/java/site/doto/domain/category/repository/CategoryRepository.java
  src/main/java/site/doto/domain/category/service/CategoryService.java
Labels: ✨ feat

#90 feat : 알 구매 API 구현 및 테스트
  src/main/java/site/doto/domain/character/controller/CharacterController.java
  src/main/java/site/doto/domain/character/dto/CharacterBuyReq.java
  src/main/java/site/doto/domain/character/service/CharacterService.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/character/controller/CharacterControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#94 fix : redis 문제로 애플리케이션이 실행되지 않는 오류 수정
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/global/redis/RedisUtils.java
Labels: 🐛 fix

#92 feat : 아이템 구매 기능에 레디스 추가
  src/main/java/site/doto/domain/item/service/ItemService.java
Labels: ✨ feat

#97 fix : Character Entity 이름 변경
  src/main/java/site/doto/domain/character/entity/Character.java
Labels: 🐛 fix

#99 feat : 베팅 삭제 API 구현 및 테스트 코드 작성
  src/main/java/site/doto/domain/betting/controller/BettingController.java
  src/main/java/site/doto/domain/betting/dto/BettingJoinReq.java
  src/main/java/site/doto/domain/betting/entity/Betting.java
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/member_betting/entity/MemberBetting.java
  src/main/java/site/doto/domain/member_betting/entity/MemberBettingPK.java
  src/main/java/site/doto/domain/member_betting/repository/MemberBettingRepository.java
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#101 chore : redisRepository 사용 안함으로 명시
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: 📝 chore

#104 feat : 나의 베팅 조회 API 구현
  src/main/java/site/doto/domain/betting/controller/BettingController.java
  src/main/java/site/doto/domain/betting/dto/BettingDto.java
  src/main/java/site/doto/domain/betting/dto/MyBettingListRes.java
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/member/entity/Member.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat

#106 feat : 오픈 베팅 조회 API 구현
  src/main/java/site/doto/domain/betting/controller/BettingController.java
  src/main/java/site/doto/domain/betting/dto/OpenBettingListRes.java
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustom.java
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustomImpl.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat

#107 feat : 친구 신청 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/friend/controller/FriendController.java
  src/main/java/site/doto/domain/friend/dto/FriendRequestReq.java
  src/main/java/site/doto/domain/friend/entity/Friend.java
  src/main/java/site/doto/domain/friend/entity/FriendPK.java
  src/main/java/site/doto/domain/friend/repository/FriendRepository.java
  src/main/java/site/doto/domain/friend/service/FriendService.java
  src/main/java/site/doto/domain/item/entity/ItemPK.java
  src/main/java/site/doto/global/redis/RedisUtils.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/test/java/site/doto/domain/friend/controller/FriendControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#110 fix : 오픈 베팅 조회 시 이미 참여한 베팅은 조회되지 않도록 수정
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustomImpl.java
  src/main/resources/sql/data.sql
  src/test/resources/sql/data.sql
Labels: 🐛 fix

#112 feat : 베팅 단일 조회 API 구현
  src/main/java/site/doto/domain/betting/controller/BettingController.java
  src/main/java/site/doto/domain/betting/dto/BettingAddReq.java
  src/main/java/site/doto/domain/betting/dto/BettingDetailsRes.java
  src/main/java/site/doto/domain/betting/entity/Betting.java
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/chatroom/entity/ChatRoom.java
  src/main/java/site/doto/domain/member_betting/repository/MemberBettingRepository.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat

#113 feat : 친구 신청 수락 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/friend/controller/FriendController.java
  src/main/java/site/doto/domain/friend/dto/FriendResponseReq.java
  src/main/java/site/doto/domain/friend/service/FriendService.java
  src/test/java/site/doto/domain/friend/controller/FriendControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#118 refactor : Friend 엔티티 변경
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustomImpl.java
  src/main/java/site/doto/domain/friend/dto/FriendBlockListReq.java
  src/main/java/site/doto/domain/friend/dto/FriendRequestReq.java
  src/main/java/site/doto/domain/friend/dto/FriendResponseReq.java
  src/main/java/site/doto/domain/friend/entity/FriendPK.java
  src/main/java/site/doto/domain/friend/repository/FriendRepository.java
  src/main/java/site/doto/domain/friend/service/FriendService.java
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationBlockListReq.java
  src/main/java/site/doto/domain/relation/dto/RelationBlockReq.java
  src/main/java/site/doto/domain/relation/dto/RelationCanceledReq.java
  src/main/java/site/doto/domain/relation/dto/RelationDeclinedReq.java
  src/main/java/site/doto/domain/relation/dto/RelationDto.java
  src/main/java/site/doto/domain/relation/dto/RelationListReq.java
  src/main/java/site/doto/domain/relation/dto/RelationListRes.java
  src/main/java/site/doto/domain/relation/dto/RelationRequestReq.java
  src/main/java/site/doto/domain/relation/dto/RelationResponseReq.java
  src/main/java/site/doto/domain/relation/dto/RelationUnblockReq.java
  src/main/java/site/doto/domain/relation/entity/Relation.java
  src/main/java/site/doto/domain/relation/entity/RelationPK.java
  src/main/java/site/doto/domain/relation/enums/RelationStatus.java
  src/main/java/site/doto/domain/relation/repository/RelationRepository.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
  src/test/resources/sql/data.sql
Labels: ♻️ refactor

#121 feat : 카테고리 순서 변경 API 구현 및 테스트
  src/main/java/site/doto/domain/category/controller/CategoryController.java
  src/main/java/site/doto/domain/category/dto/CategoryArrangeReq.java
  src/main/java/site/doto/domain/category/dto/CategoryListRes.java
  src/main/java/site/doto/domain/category/service/CategoryService.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/test/java/site/doto/domain/category/controller/CategoryControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#123 feat : 베팅의 투두 삭제시 레디스에서 조회하도록 변경
  src/main/java/site/doto/domain/betting/dto/BettingAddReq.java
  src/main/java/site/doto/domain/betting/dto/BettingDetailsRes.java
  src/main/java/site/doto/domain/betting/dto/BettingDto.java
  src/main/java/site/doto/domain/betting/dto/BettingJoinReq.java
  src/main/java/site/doto/domain/betting/dto/MyBettingListRes.java
  src/main/java/site/doto/domain/betting/dto/OpenBettingListRes.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/chat/dto/ChatAddReq.java
  src/main/java/site/doto/domain/chat/dto/ChatDto.java
  src/main/java/site/doto/domain/chat/dto/ChatListReq.java
  src/main/java/site/doto/domain/chat/dto/ChatListRes.java
  src/main/java/site/doto/domain/chatroom/dto/ChatRoomDto.java
  src/main/java/site/doto/domain/chatroom/dto/ChatRoomListRes.java
  src/main/java/site/doto/domain/todo/dto/TodoRedisDto.java
  src/main/java/site/doto/domain/todo/service/TodoService.java
  src/main/java/site/doto/global/redis/RedisEvent.java
  src/main/java/site/doto/global/redis/RedisUtils.java
  src/test/java/site/doto/domain/category/controller/CategoryControllerTest.java
Labels: ✨ feat

#124 feat : 친구 신청 거절 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/item/dto/ItemListRes.java
  src/main/java/site/doto/domain/item/dto/StoreItemListRes.java
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationDeclinedReq.java
  src/main/java/site/doto/domain/relation/dto/RelationListRes.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
Labels: ✨ feat, ✅ test

#127 feat : 투두 생성 API 구현 및 테스트
  src/main/java/site/doto/domain/category/service/CategoryService.java
  src/main/java/site/doto/domain/todo/controller/TodoController.java
  src/main/java/site/doto/domain/todo/dto/TodoAddReq.java
  src/main/java/site/doto/domain/todo/service/TodoService.java
  src/test/java/site/doto/domain/todo/controller/TodoControllerTest.java
Labels: ✨ feat, ✅ test

#126 feat : 친구 신청 취소 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/item/controller/ItemController.java
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationCanceledReq.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#128 feat : 베팅 참여 API 구현 및 테스트 추가
  src/main/java/site/doto/domain/betting/controller/BettingController.java
  src/main/java/site/doto/domain/betting/dto/BettingJoinReq.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/member_betting/repository/MemberBettingRepository.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#130 feat : 비공개 카테고리로 변경 시 베팅이 진행중이면 예외 추가
  src/main/java/site/doto/domain/category/controller/CategoryController.java
  src/main/java/site/doto/domain/category/service/CategoryService.java
  src/main/java/site/doto/domain/todo/repository/TodoRepositoryCustom.java
  src/main/java/site/doto/domain/todo/repository/TodoRepositoryCustomImpl.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/test/java/site/doto/domain/category/controller/CategoryControllerTest.java
Labels: ✨ feat, ✅ test

#133 feat : 멤버 조회 mock 구현
  src/main/java/site/doto/domain/character/dto/CharacterBuyReq.java
  src/main/java/site/doto/domain/character/dto/CharacterDto.java
  src/main/java/site/doto/domain/character/entity/Character.java
  src/main/java/site/doto/domain/member/controller/MemberController.java
  src/main/java/site/doto/domain/member/dto/MemberDetailsRes.java
  src/main/java/site/doto/domain/member/entity/Member.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/main/resources/sql/data-dev.sql
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/member/controller/MemberControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#134 feat : 친구 삭제 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#140 feat : 유저 차단 취소 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationUnblockReq.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
Labels: ✨ feat, ✅ test

#141 feat : 베팅 수정 사항 적용
  src/main/java/site/doto/domain/betting/dto/BettingDetailsRes.java
  src/main/java/site/doto/domain/betting/entity/Betting.java
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustomImpl.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/member/entity/Member.java
  src/main/java/site/doto/domain/todo/repository/TodoRepository.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/main/resources/sql/data-dev.sql
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/java/site/doto/domain/todo/controller/TodoControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat

#143 feat : CORS 설정 추가
  src/main/java/site/doto/Application.java
  src/main/java/site/doto/global/config/SecurityConfig.java
Labels: ✨ feat

#147 feat : 베팅 스케줄러 적용
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/scheduler/BettingScheduler.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/chatroom/repository/ChatRoomRepository.java
  src/main/java/site/doto/domain/member_betting/repository/MemberBettingRepository.java
Labels: ✨ feat

#146 feat : 카테고리 공개 유형 변경
  src/main/java/site/doto/domain/betting/repository/BettingRepository.java
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustom.java
  src/main/java/site/doto/domain/betting/repository/BettingRepositoryCustomImpl.java
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/category/dto/CategoryAddReq.java
  src/main/java/site/doto/domain/category/dto/CategoryDetailsRes.java
  src/main/java/site/doto/domain/category/dto/CategoryModifyReq.java
  src/main/java/site/doto/domain/category/entity/Category.java
  src/main/java/site/doto/domain/category/enums/Scope.java
  src/main/java/site/doto/domain/category/service/CategoryService.java
  src/main/java/site/doto/domain/todo/repository/TodoRepositoryCustom.java
  src/main/java/site/doto/domain/todo/repository/TodoRepositoryCustomImpl.java
  src/main/java/site/doto/domain/todo/service/TodoService.java
  src/main/java/site/doto/global/redis/RedisUtils.java
  src/main/java/site/doto/global/status_code/ErrorCode.java
  src/main/resources/sql/data-dev.sql
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/betting/controller/BettingControllerTest.java
  src/test/java/site/doto/domain/category/controller/CategoryControllerTest.java
  src/test/resources/sql/data.sql
Labels: ✨ feat, ✅ test

#149 fix : 베팅 참여 시 코인 차감되도록 수정
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/domain/member_betting/repository/MemberBettingRepository.java
Labels: 🐛 fix

#150 feat : 친구 목록 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/member/repository/MemberRepository.java
  src/main/java/site/doto/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/site/doto/domain/member/repository/MemberRepositoryCustomImpl.java
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationListReq.java
  src/main/java/site/doto/domain/relation/dto/RelationListRes.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/main/resources/sql/data.sql
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
Labels: ✨ feat, ✅ test

#152 feat : 투두 생성 시, LastUpload Time 바뀌도록 수정
  src/main/java/site/doto/domain/member/entity/Member.java
  src/main/java/site/doto/domain/todo/service/TodoService.java
Labels: ✨ feat

#158 feat : 친구 상세 목록 API 구현 및 테스트 작성
  src/main/java/site/doto/domain/member/repository/MemberRepositoryCustom.java
  src/main/java/site/doto/domain/member/repository/MemberRepositoryCustomImpl.java
  src/main/java/site/doto/domain/relation/controller/RelationController.java
  src/main/java/site/doto/domain/relation/dto/RelationDetailDto.java
  src/main/java/site/doto/domain/relation/dto/RelationDetailListReq.java
  src/main/java/site/doto/domain/relation/dto/RelationDetailListRes.java
  src/main/java/site/doto/domain/relation/dto/RelationDto.java
  src/main/java/site/doto/domain/relation/service/RelationService.java
  src/main/java/site/doto/global/status_code/SuccessCode.java
  src/test/java/site/doto/domain/relation/controller/RelationControllerTest.java
Labels: ✨ feat, ✅ test

#159 fix : Record DB에 업데이트 시 redis flush 하지 않도록 변경
  src/main/java/site/doto/domain/betting/service/BettingService.java
  src/main/java/site/doto/global/redis/RedisEvent.java
  src/main/java/site/doto/global/redis/RedisUtils.java
Labels: 🐛 fix
